<a href="https://colab.research.google.com/github/sarannetworkprogammer/Data_foundations/blob/main/Inclass_Oct4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 3 programming questions 
24 questions 
releatively quickly

In [ ]:
import json

myjsonfile =  open("myfile.json")
pythonobj = json.load(myjsonfile)

myjsonfile.close

In [ ]:
pythonobj ={ "key1":"value1", "key2":"value2"}

In [ ]:
#json objects

#Python  None,, json =---null

#json arrays , =-------->python lists
#json (true/false ) -------------- python (True/false)

In [7]:
# dcitionary ------> 

mydata= {}

mydata["newkey"] = {}
print(mydata["newkey"])
mydata["newkey"]["innerkey"] = 42


print(mydata["newkey"]["innerkey"])

mydata["newkey2"] = []


print(mydata)

mydata["newkey2"].append(123)

{}
42
{'newkey': {'innerkey': 42}, 'newkey2': []}

In [13]:
# how to use super init method in class inheritance

class Person:


  def __init__(self,name, age):
    self.name = name
    self.age = age

    print(f"name = {self.name} has been created")
  

  def eat(self):
    print(f"{self.name} has eaten")

  
  def jump(self):
    print(f"{self.name}  jumped")



class Student(Person):


  def study(self):
    print(f"{self.name} studies")


class Teacher(Person):

  def __init__(self, name ,age, class_name):
    
    self.name = name
    self.age = age
    self.calss_name = class_name
    print("inside teacher class")

In [16]:
#john = Student("john",55)     # created instance of student

anthony = Teacher("anthony",33, "Datafoundations")  # over write the functionality and also have acces to all methods 

# super.init method for iintializeing init vairables

inside teacher class

In [18]:
# operator overlaoding 

class ExampleClass:

  def __init__(self,name):
    self.name = name

  

  def __add__(self, other):
    return self.name + " and " + other.name

In [19]:
# Regualr expressions:


import re

# * and +

#[a-z] [A-z] [0-9]

#upperlower cases [a-zA-Z]

# ranges  {6,10}


regex = "[a-z]{6,10}[0-9]"

In [ ]:
regex = "a*" # a that appears 0 or more times


# * or or more
# + 1 or more